@import "../../_variables";

.product-card {
  div {
    text-align: center;
  }
  div a img {
    width: 80vw;
    height: auto;
    border: 1px $product-border-color solid;
  }
}

.product-card-down {
  //  padding: 0 10px 0 10px;
  font-family: $default-font;

  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
    p {
      margin: 0;
      align-self: baseline;
      padding-top: 20px;
    }
  }
}
.product-card-title {
  font-size: 1.25em;
  font-weight: 300;
  margin: 10px 0 5px 0;

  a {
    text-decoration: none;
    color: $normal-text-color;
    &:hover {
      color: $header-color3;
    }
  }
}
.product-card-price {
  font-size: 1.8em;
  font-weight: 400;
  margin: 10px 0 5px 0;
}

.product-card-Addbtn {
  font-size: 1.5em;
  font-weight: 200;
  border-bottom: 1px solid black;
  cursor: pointer;
}

@media (min-width: 576px) {
  .product-card {
    width: 250px;
    div a img {
      width: 250px;
    }
    width: 100%;
  }

  .product-card-price {
    font-size: 1.25em;
  }
  .product-card-title {
  }
  .product-card-Addbtn {
    font-size: 1em;
  }

  .product-card-down {
    div {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
@media (min-width: 768px) {
  .product-card {
    width: 300px;
    div a img {
      width: 300px;
    }
    width: 100%;
  }
}

@media (min-width: 992px) {
  .product-card {
    div a img {
      width: 250px;
      height: auto;
      border: 1px $product-border-color solid;
    }
    width: 250px;
  }
  .product-card-price {
    font-size: 1.85em;
  }
  .product-card-title {
    font-size: 1.35em;
  }
  .product-card-Addbtn {
    font-size: 1.25em;
  }
}

@media (min-width: 1200px) {
  .product-card {
    div a img {
      width: 300px;
      height: auto;
      border: 1px $product-border-color solid;
    }
    width: 300px;
  }

  .product-card-price {
    font-size: 1.85em;
  }
  .product-card-title {
    font-size: 1.35em;
  }
  .product-card-Addbtn {
    font-size: 1.25em;
  }
}

@media (min-width: 1360px) {
  .product-card {
    div a img {
      width: 320px;
      height: auto;
      border: 1px $product-border-color solid;
    }
    width: 320px;
  }

  .product-card-price {
    font-size: 1.85em;
  }
  .product-card-title {
    font-size: 1.35em;
  }
  .product-card-Addbtn {
    font-size: 1.25em;
  }
}
