// watch store scss variables
$header-color1: #354a5d;
$header-color2: #4d6472;
$header-color3: #94644e;

$background-color: #fbfbfb;
$logo-color: #0d0d0d;
$primary-color: #3d3d3d;

$product-border-color: #f5f5f5;
$hero-image-color: #120f14;
$heronav-font-color: #0d0d0d;
$normal-text-color: #3d3d3d;
$product-background: #fff;
$footer-background: #0d0d0d;
$footer-font: #fbfbfb;
$primary-buttons-color: #0d0d0d;
$main-font-size: 1em;
$default-font: "Roboto", sans-serif;

$container-xl: 80%;
$container-lg: 90%;
$container-md: 100%;
$container-sm: 100%;

$sc-col-remove-width: 15%;
$sc-col-price-width: 23%;
$sc-col-qty-width: 16%;
$sc-col-name-width: 27%;
$sc-col-image-width: 11%;
